/* main pages animation */
.firstLetter{
    animation-name: test;
    animation-duration:4s;
}

nav{
    animation: nav-load 600ms;
}

@keyframes test{
    from {color:#393280;}
    to {color:#F6C400;}
}

@keyframes nav-load {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

/* end main pages animation */

/* scroll to top button */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #393280;
  }


/* end scroll top */