


#courseContainers,
#subjectContainers {
    /* height: auto; */
    border: 1px solid #d9d9da;
}

.dashboardContainer {
     /* fallback for old browsers */
     background: #ffecd2;
  
     /* Chrome 10-25, Safari 5.1-6 */
     background: -webkit-linear-gradient(to top, rgba(255,236,210,0.15), rgba(252,182,159,0.15));
   
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: linear-gradient(to top, rgba(255,236,210,0.15), rgba(252,182,159,0.15));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form-outline{
   transition: ease-in-out 0.3s;
   border-style: solid;
   border-width: 1px;
   border-color: #4141412c;
}

.form-outline:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   transition: ease-in-out 0.3s;
}

.bg-account{
    background-color: #EEEFFF ;
}

.dashboardTitleContainer {
    color: #fafafc;
    background-color: #2f98d0 !important;

  
    /* Chrome 10-25, Safari 5.1-6 */
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.mask-custom {
    backdrop-filter: blur(7px);
    background-color: rgba(178,60,253,0.25);
  }

.hoverOfSidebar{
    transition: ease-in-out 0.3s;

}
.hoverOfSidebar:hover {
    background: #6587f681;
    /* Chrome 10-25, Safari 5.1-6 */
    cursor: pointer;
    padding-left: 10px;
    transition: ease-in-out 0.3s;
}

.sidebarActive {
    background-color: #886a43;
}

.rounded-top-left-1 {
    border-top-left-radius: .5rem;
}

.rounded-top-right-1 {
    border-top-right-radius: .5rem;
}

.rounded-bottom-left-1 {
    border-bottom-left-radius: .5rem;
}

.rounded-bottom-right-1 {
    border-bottom-right-radius: .5rem;
}

.h-50 {
    height: 50%;
    margin: 0 !important;
}

.vh-50 {
    height: 50vh;
}

.vh-25 {
    height: 25vh;
}

.vh-75 {
    height: 75vh;
}

.vh-10 {
    height: 10vh;
}

.vh-5 {
    height: 5vh;
}

.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.admission {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 50vh;
}

.justify-content {
    text-align: justify;
    text-justify: inter-word;
}

.yellow-arrow {
    height: 35px;
}

.color-title {
    color: #393280 !important;
}

.color-highlight {
    color: #F6C400 !important;
}


.text-title-lines{
    height: 1px;
    background-color: #F6C400;
    }

.title-lines {
    background: #fff;
    padding: 0 80px;
}

.title-address{
    background-color: rgb(246,196,0, 0.2);
}


.carousel-image {
    max-width: 100%;
    max-height: 100%;
}


.btn-carousel-controller {
    width: 60px;
    height: 60px;
}


.bg-main-color {
    background-color: #393280 !important;
}

.bg-secondary-color {
    background-color: #F6C400 !important;
}



.card:hover .overlay-text {
    background-color: rgba(0, 0, 0, 0.7);
    /* Black background with 0.5 opacity */
    transition: .5s ease;
}

.overlay-text {
    z-index: 100;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}



/* dashboards */

.date-heading{
font-size: 96px;
}

.text-area-no-resize{
    resize: none;
}



.vri-icon{
    height: 25px;
}















/* end dashboards */



/* medium screen and below */
@media only screen and (max-width: 768px) {

    .nav-divider {
        display: none !important;
    }

    .btn-login-list {
        display: block;
    }

    .btn-login-head {
        display: none !important;
    }

    .wrapper {
        display: block;
    }

    .hero {
        background-size: contain;
        background-position: bottom;
    }

    .admission {
        background-position: right;

    }

    .title-address{
        display: none !important;

    }
 
}

/* small screen & below */

@media only screen and (max-width: 600px) {
    .overlay-text {
        min-height: 100%;
    }

    .admission-text h5 {
        text-align: justify;
        text-justify: inter-word;
    }

}

/* large screen and up */
@media only screen and (min-width: 992px) {

    .btn-login-list {
        display: none;
    }

    .btn-login-head {
        display: block;
    }

    .wrapper {
        display: none;
    }

    .navbar{
        box-shadow: none !important;
    }
}


#sidebar {
    color: #fafafc;
    background-color: #393280;
    /* height: 100vh; */
    position: fixed !important;
    z-index: 100;
    transition: ease-in-out 0.3s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#sidebar.active {
    margin-left: -280px;
    transition: ease-in-out 0.3s;
}

#navToggle {
    width: 50px;
    height: 50px;
    right: -20;
    top: 215;
    position:absolute !important;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#navToggle.active {
    right: -60;
    top: 10;
    transition: ease-in-out 0.3s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#navToggle:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #30cfd0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgba(48,207,208,0.5), rgba(51,8,103,0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(48,207,208,0.5), rgba(51,8,103,0.5))
  }



  .gradient-2 {
    /* fallback for old browsers */
    background: #6a85b6;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, rgba(106,133,182,0.5), rgba(186,200,224,0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgba(106,133,182,0.5), rgba(186,200,224,0.5))
  }
  

